#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

param select eeprom/parameters
param import

# system_power not implemented
param set CBRK_SUPPLY_CHK 894281

param set-default BAT1_V_DIV 5.7

# broadcast to LAN
# always keep current config
param set SYS_AUTOCONFIG 0
# useless but required for parameter completeness
param set MAV_TYPE 2
param set SYS_AUTOSTART 4001

param set-default PCA9685_RATE 50

# Enable FMU SD card detection check Disabled
param set COM_ARM_SDCARD 0

dataman start

load_mon start

battery_status start

# start logging
logger start -f

# # internal IMU
# if ! icm42688p start -q -s -R 4
# then
# 	# some boards has ICM42605 instead
# 	icm42605 start -s -R 4
# fi
# if ! ist8310 start -q -I -a 15 -R 4
# then
# 	# some boards has QMC5883l instead
# 	qmc5883l start -I -R 6
# fi
# ms5611 start -I

# # ADC
# ads1115 start -I

# # PWM
# pca9685_pwm_out start
# mixer load /dev/pwm_output0 etc/mixers/quad_x.main.mix

# # external GPS & compass
# gps start -d /dev/ttySC0 -i uart -p ubx -s
# #hmc5883 start -X
# #ist8310 start -X

# rc_input start -d /dev/ttyAMA0

rc_input start -d /dev/ttyAMA0

rc_update start
sensors start
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start

# in: vehicle_attitude_setpoint
# out: vehicle_rates_setpoint
mc_att_control start

# in: manual_control_setpoint
# out: actuator_controls_0?
mc_rate_control start


param set-default SYS_HAS_BARO 0
param set-default SYS_HAS_GPS 0
param set-default COM_RC_IN_MODE 0 # RC Transmitter only
# param set-default COM_RC_IN_MODE 1 # Joystick only

param set-default COM_RCL_EXCEPT 4

# param set-default COM_RC_LOSS_T 5

param set-default COM_FLTMODE1 0
param set-default COM_FLTMODE2 1
param set-default COM_FLTMODE3 2
param set-default COM_FLTMODE4 3
param set-default COM_FLTMODE5 4
param set-default COM_FLTMODE6 5

# param set-default SDLOG_MODE -1 # disabled
param set-default SDLOG_MODE 2 # from boot until shutdown

# 20.5 x 16 cm
# |< 20.5 >|
#     x
#     ^
#   4 | 2
#   --+--> y
#   3 | 1

# FRD: Coordinate system where the X-axis is pointing towards the Front of the vehicle,
# the Y-axis is pointing Right and the Z-axis is pointing Down.
# https://docs.px4.io/main/en/config/flight_controller_orientation.html

# . ${R}etc/init.d/airframes/4001_quad_x

param set-default CA_ROTOR_COUNT 4

param set-default CA_ROTOR1_PX +0.08
param set-default CA_ROTOR3_PX +0.08
param set-default CA_ROTOR0_PX -0.08
param set-default CA_ROTOR2_PX -0.08

param set-default CA_ROTOR3_PY -0.1025
param set-default CA_ROTOR2_PY -0.1025
param set-default CA_ROTOR1_PY +0.1025
param set-default CA_ROTOR0_PY +0.1025


mavlink start -x -u 14556 -r 1000000 -p

# Telem
# mavlink start -x -Z -d /dev/ttySC1

# logger start -t -b 200

#fake_imu start

#mpu6000 # 68
# mpu6000 start -I

# high resolution barometric sensor 10 – 1200 mbar
# 0x76 or 0x77
# ms5611 #0 on I2C bus 1 (external) address 0x76
# device_id: 4028169 (Type: 0x3D, I2C:1 (0x77))
# ms5611 start -I

# 3-Axis Digital Compass IC HMC5883L
# read: 0x3D, write: 0x3C
# hmc5883 start -I

# i2cdetect -y 1

# barometer
echo "bmp280 >>>"
# bmp280 start -I -b 1 -a 0x76
# bmp280 #0 on I2C bus 1 address 0x76
# device_id: 4158985 (Type: 0x3F, I2C:1 (0x76))
echo "bmp280 ###"

echo "mpu9250 >>>"
mpu9250_i2c start -I #-a 0x68
sleep 1
ak8963 start -I -a 0x0C

sleep 1

# if mpu9250_i2c -I -b 1 -a 0x68 -R 6 start; then
# 	sleep 1 # wait for mpu9250 to be configured with bypass enabled
# 	ak8963 start -I -b 1 -R 4 start
# 	# lps25h -I -b 3 start
# fi
echo "mpu9250 ###"

# baro via USB
# ms5611 start -I -a 0x77

echo "pwm >>>"
# piwm start
pca9685_pwm_out start -a 64 -b 1
# linux_pwm_out start # <- use this for custom PWM
control_allocator start
echo "pwm ###"

# mixer load /dev/pwm_output0 etc/mixers/quad_x.main.mix

attitude_estimator_q start

# Module consuming manual_control_inputs publishing one manual_control_setpoint.
manual_control start # ?

commander start

mavlink boot_complete

# pre-flight check
# commander check
# commander arm
# commander takeoff
# rc_input status

# listener vehicle_status
